#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/media/xilinx-vip.h>

#define MIPI_CSI2_DT_NULL		0x10
#define MIPI_CSI2_DT_BLANKING		0x11
#define MIPI_CSI2_DT_EMBEDDED_8B	0x12
#define MIPI_CSI2_DT_YUV420_8B		0x18
#define MIPI_CSI2_DT_YUV420_10B		0x19
#define MIPI_CSI2_DT_YUV420_8B_LEGACY	0x1a
#define MIPI_CSI2_DT_YUV420_8B_CS	0x1c
#define MIPI_CSI2_DT_YUV420_10B_CS	0x1d
#define MIPI_CSI2_DT_YUV422_8B		0x1e
#define MIPI_CSI2_DT_YUV422_10B		0x1f
#define MIPI_CSI2_DT_RGB444		0x20
#define MIPI_CSI2_DT_RGB555		0x21
#define MIPI_CSI2_DT_RGB565		0x22
#define MIPI_CSI2_DT_RGB666		0x23
#define MIPI_CSI2_DT_RGB888		0x24
#define MIPI_CSI2_DT_RAW28		0x26
#define MIPI_CSI2_DT_RAW24		0x27
#define MIPI_CSI2_DT_RAW6		0x28
#define MIPI_CSI2_DT_RAW7		0x29
#define MIPI_CSI2_DT_RAW8		0x2a
#define MIPI_CSI2_DT_RAW10		0x2b
#define MIPI_CSI2_DT_RAW12		0x2c
#define MIPI_CSI2_DT_RAW14		0x2d
#define MIPI_CSI2_DT_RAW16		0x2e
#define MIPI_CSI2_DT_RAW20		0x2f
#define MIPI_CSI2_DT_USER_DEFINED(n)	(0x30 + (n))	/* 0..7 */

/dts-v1/;
/plugin/;
/ {
	fragment@0 {
		target = <&fpga_full>;
		overlay0: __overlay__ {
			#address-cells = <2>;
			#size-cells = <2>;
			firmware-name = "k26_starter_kits.bit.bin";
			resets = <&zynqmp_reset 116>, <&zynqmp_reset 117>, <&zynqmp_reset 118>, <&zynqmp_reset 119>;
		};
	};
	fragment@1 {
		target = <&amba>;
		overlay1: __overlay__ {
			afi0: afi0 {
				compatible = "xlnx,afi-fpga";
				config-afi = < 0 0>, <1 0>, <2 0>, <3 0>, <4 0>, <5 0>, <6 0>, <7 0>, <8 0>, <9 0>, <10 0>, <11 0>, <12 0>, <13 0>, <14 0x900>, <15 0x000>;
			};
			clocking0: clocking0 {
				#clock-cells = <0>;
				assigned-clock-rates = <99999001>;
				assigned-clocks = <&zynqmp_clk 71>;
				clock-output-names = "fabric_clk";
				clocks = <&zynqmp_clk 71>;
				compatible = "xlnx,fclk";
			};
			clocking1: clocking1 {
				#clock-cells = <0>;
				assigned-clock-rates = <299997009>;
				assigned-clocks = <&zynqmp_clk 72>;
				clock-output-names = "fabric_clk";
				clocks = <&zynqmp_clk 72>;
				compatible = "xlnx,fclk";
			};
		};
	};
	fragment@2 {
		target = <&amba>;
		overlay2: __overlay__ {
			#address-cells = <2>;
			#size-cells = <2>;
			axi_iic_0: i2c@80010000 {
				#address-cells = <1>;
				#size-cells = <0>;
				clock-names = "s_axi_aclk";
				clocks = <&zynqmp_clk 71>;
				compatible = "xlnx,axi-iic-2.1", "xlnx,xps-iic-2.00.a";
				interrupt-names = "iic2intc_irpt";
				interrupt-parent = <&gic>;
				interrupts = <0 89 4>;
				reg = <0x0 0x80010000 0x0 0x10000>;

				i2c_mux: i2c-mux@74 {
					compatible = "nxp,pca9546";
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0x74>;

					i2c@0 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <0>;

						avt_camera_2@3c {
							compatible = "alliedvision,avt3";

							reg = <0x3c>;
							csi_id = <2>;

							/* powerdown-gpios = <&axi_gpio_0 0 GPIO_ACTIVE_LOW>;
							reset-gpios = <&axi_gpio_0 4 GPIO_ACTIVE_LOW>; */
							
							bcrm_wait_timeout = <5222>; /*<4000>;*/
							mipi_csi;
							status = "disabled";

							streamon_delay = <102>; 
							x_force_reset_on_init;
							
							avt-ignore-yuv420_8_leg_avail;
							avt-ignore-yuv420_8_avail;
							avt-ignore-yuv420_10_avail;
							avt-ignore-yuv420_8_csps_avail;
							avt-ignore-yuv420_10_csps_avail;
							x_avt-ignore-yuv422_8_avail;
							avt-ignore-yuv422_10_avail;
							avt-ignore-rgb888_avail;
							avt-ignore-rgb666_avail;
							avt-ignore-rgb565_avail;
							avt-ignore-rgb555_avail;
							avt-ignore-rgb444_avail;
							avt-ignore-raw6_avail;
							avt-ignore-raw7_avail;
							avt-ignore-raw8_avail;
							avt-ignore-raw10_avail;
							avt-ignore-raw12_avail;
							avt-ignore-raw14_avail;

							port {
								sensor_out_2: endpoint {
									/*remote-endpoint = <&mipi_csi_inmipi_csi2rxss_0>;*/
									data-lanes = <1 2 3 4>;
									clock-lanes = <0>;
									link-frequencies = /bits/ 64 <750000000>;
								};
							};
						};
					};
					i2c@1 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <1>;

						avt_camera_0@3c {
							compatible = "alliedvision,avt3";

							reg = <0x3c>;
							csi_id = <0>;

							/* powerdown-gpios = <&axi_gpio_0 0 GPIO_ACTIVE_LOW>;
							reset-gpios = <&axi_gpio_0 4 GPIO_ACTIVE_LOW>; */
							
							bcrm_wait_timeout = <5000>; /*<4000>;*/
							mipi_csi;
							status = "okay";

							streamon_delay = <100>; 
							x_force_reset_on_init;
							
							avt-ignore-yuv420_8_leg_avail;
							avt-ignore-yuv420_8_avail;
							avt-ignore-yuv420_10_avail;
							avt-ignore-yuv420_8_csps_avail;
							avt-ignore-yuv420_10_csps_avail;
							x_avt-ignore-yuv422_8_avail;
							avt-ignore-yuv422_10_avail;
							avt-ignore-rgb888_avail;
							avt-ignore-rgb666_avail;
							avt-ignore-rgb565_avail;
							avt-ignore-rgb555_avail;
							avt-ignore-rgb444_avail;
							avt-ignore-raw6_avail;
							avt-ignore-raw7_avail;
							avt-ignore-raw8_avail;
							avt-ignore-raw10_avail;
							avt-ignore-raw12_avail;
							avt-ignore-raw14_avail;

							port {
								sensor_out_0: endpoint {
									remote-endpoint = <&mipi_csi_inmipi_csi2rxss_0>;
									data-lanes = <1 2 3 4>;
									clock-lanes = <0>;
									link-frequencies = /bits/ 64 <750000000>;
								};
							};
						};
					};
				};
			};
			axi_iic_pmod: i2c@80020000 {
				#address-cells = <1>;
				#size-cells = <0>;
				clock-names = "s_axi_aclk";
				clocks = <&zynqmp_clk 71>;
				compatible = "xlnx,axi-iic-2.1", "xlnx,xps-iic-2.00.a";
				interrupt-names = "iic2intc_irpt";
				interrupt-parent = <&gic>;
				interrupts = <0 92 4>;
				reg = <0x0 0x80020000 0x0 0x10000>;

				avt_camera_1@3c {
					compatible = "alliedvision,avt3";

					reg = <0x3c>;
					csi_id = <1>;

					/* powerdown-gpios = <&axi_gpio_0 0 GPIO_ACTIVE_LOW>;
					reset-gpios = <&axi_gpio_0 4 GPIO_ACTIVE_LOW>; */
					
					bcrm_wait_timeout = <5001>; /*<4000>;*/
					mipi_csi;
					status = "disabled";

					streamon_delay = <101>; 
					x_force_reset_on_init;
					
					avt-ignore-yuv420_8_leg_avail;
					avt-ignore-yuv420_8_avail;
					avt-ignore-yuv420_10_avail;
					avt-ignore-yuv420_8_csps_avail;
					avt-ignore-yuv420_10_csps_avail;
					x_avt-ignore-yuv422_8_avail;
					avt-ignore-yuv422_10_avail;
					avt-ignore-rgb888_avail;
					avt-ignore-rgb666_avail;
					avt-ignore-rgb565_avail;
					avt-ignore-rgb555_avail;
					avt-ignore-rgb444_avail;
					avt-ignore-raw6_avail;
					avt-ignore-raw7_avail;
					avt-ignore-raw8_avail;
					avt-ignore-raw10_avail;
					avt-ignore-raw12_avail;
					avt-ignore-raw14_avail;

					port {
						sensor_out_1: endpoint {
							/*remote-endpoint = <&mipi_csi_inmipi_csi2rxss_1>;*/
							data-lanes = <1 2 3 4>;
							clock-lanes = <0>;
							link-frequencies = /bits/ 64 <750000000>;
						};
					};
				};
			};

			mipi_csi2rxss_0: mipi_csi2_rx_subsystem@80000000 {
				clock-names = "lite_aclk", "dphy_clk_200M", "video_aclk";
				clocks = <&zynqmp_clk 71>, <&misc_clk_0>, <&zynqmp_clk 72>;
				compatible = "xlnx,mipi-csi2-rx-subsystem-5.1";
				interrupt-names = "csirxss_csi_irq";
				interrupt-parent = <&gic>;
				interrupts = <0 90 4>;
				reg = <0x0 0x80000000 0x0 0x2000>;
				xlnx,axis-tdata-width = <32>;
				xlnx,cal-mode = "NONE";
				xlnx,clk-io-swap = "false";
				xlnx,clk-lane-io-position = <0xd>;
				xlnx,clk-lp-io-swap = "false";
				xlnx,csi-en-activelanes = "true";
				xlnx,csi-en-crc = "true";
				xlnx,csi-filter-userdatatype = "true";
				xlnx,csi-opt1-regs = "false";
				xlnx,csi-pxl-format = < MIPI_CSI2_DT_YUV422_8B >;/*"YUV422_8bit"; */
				xlnx,csi2rx-dbg = <0x0>;
				xlnx,data-lane0-io-position = <0xf>;
				xlnx,data-lane1-io-position = <0x11>;
				xlnx,data-lane2-io-position = <0x13>;
				xlnx,data-lane3-io-position = <0x15>;
				xlnx,dl0-io-swap = "false";
				xlnx,dl0-lp-io-swap = "false";
				xlnx,dl1-io-swap = "false";
				xlnx,dl1-lp-io-swap = "false";
				xlnx,dl2-io-swap = "false";
				xlnx,dl2-lp-io-swap = "false";
				xlnx,dl3-io-swap = "false";
				xlnx,dl3-lp-io-swap = "false";
				xlnx,dphy-lanes = <0x4>;
				xlnx,dphy-mode = "SLAVE";
				xlnx,dphy-present ;
				/*
				xlnx,en-7s-linerate-check = "false";
				xlnx,en-active-lanes ;
				xlnx,en-bg0-pin0 = "false";
				xlnx,en-bg0-pin6 = "false";
				xlnx,en-bg1-pin0 = "false";
				xlnx,en-bg1-pin6 = "false";
				xlnx,en-bg2-pin0 = "false";
				xlnx,en-bg2-pin6 = "false";
				xlnx,en-bg3-pin0 = "false";
				xlnx,en-bg3-pin6 = "false";
				xlnx,en-clk300m = "false";
				xlnx,en-cnts-byte-clk = "false";
				xlnx,en-csi-v2-0 = "false";
				xlnx,en-exdesigns = "false";
				xlnx,en-ext-tap = "false";
				xlnx,en-rxppi-as-mon = "false";
				xlnx,en-timeout-regs = "true";
				xlnx,en-vcx = "false";
				xlnx,esc-timeout = <0x6400>;
				xlnx,exdes-board = "ZCU102";
				xlnx,exdes-config = "MIPI_Video_Pipe_Camera_to_Display";
				xlnx,exdes-fmc = "LI-IMX274MIPI-FMC V1.0 Single Sensor";
				xlnx,exdesboard-version = <0x2>;
				xlnx,fifo-rd-en-control = "true";
				*/
				xlnx,hs-line-rate = <0x2ee>;
				xlnx,hs-settle-ns = <0x94>;
				xlnx,hs-timeout = <0x10005>;
				xlnx,idly-group-name = "mipi_csi2rx_idly_group";
				xlnx,idly-tap = <0x1>;
				xlnx,init = <0x186a0>;
				xlnx,int-qor-check = <0x0>;
				xlnx,is-7series = "false";
				xlnx,is-versal = "false";
				xlnx,lprx-disable-extport = <0x0>;
				xlnx,max-lanes = <4>;
				xlnx,mipi-slv-int = <0x0>;
				xlnx,ooc-vid-clk = "6.666";
				xlnx,ppc = <1>;
				xlnx,rcve-alt-deskew-seq = "false";
				xlnx,rcve-deskew-seq = "false";
				xlnx,share-idlyctrl = "false";
				xlnx,sprt-isp-bridge = "false";
				xlnx,stretch-line-rate = <0xdac>;
				xlnx,vc = <4>;
				xlnx,vfb ;
				mipi_csi_portsmipi_csi2rxss_0: ports {
					#address-cells = <1>;
					#size-cells = <0>;
					mipi_csi_port1mipi_csi2rxss_0: port@1 {
						/* Fill cfa-pattern=rggb for raw data types, other fields video-format and video-width user needs to fill */
						reg = <1>;
						/*xlnx,cfa-pattern = "rggb";*/
						xlnx,video-format = <3>;
						xlnx,video-width = <8>;
						mipi_csirx_outmipi_csi2rxss_0: endpoint {
							remote-endpoint = <&v_frmbuf_wr_csi_0mipi_csi2rxss_0>;
						};
					};
					mipi_csi_port0mipi_csi2rxss_0: port@0 {
						/* Fill cfa-pattern=rggb for raw data types, other fields video-format,video-width user needs to fill */
						/* User need to add something like remote-endpoint=<&out> under the node csiss_in:endpoint */
						reg = <0>;
						/*xlnx,cfa-pattern = "rggb";*/
						xlnx,video-format = <3>;
						xlnx,video-width = <8>;
						mipi_csi_inmipi_csi2rxss_0: endpoint {
							data-lanes = <1 2 3 4>;
							remote-endpoint = <&sensor_out_0>;
						};
					};
				};
			};
			misc_clk_0: misc_clk_0 {
				#clock-cells = <0>;
				clock-frequency = <199998000>;
				compatible = "fixed-clock";
			};
			v_frmbuf_wr_csi_0: v_frmbuf_wr@a0000000 {
				#dma-cells = <1>;
				clock-names = "ap_clk";
				clocks = <&zynqmp_clk 72>;
				compatible = "xlnx,v-frmbuf-wr-2.4", "xlnx,axi-frmbuf-wr-v2.1";
				interrupt-names = "interrupt";
				interrupt-parent = <&gic>;
				interrupts = <0 91 4>;
				reg = <0x0 0xa0000000 0x0 0x10000>;
				reset-gpios = <&gpio 78 1>;
				xlnx,dma-addr-width = <32>;
				xlnx,dma-align = <8>;
				xlnx,max-height = <4096>;
				xlnx,max-width = <8192>;
				xlnx,pixels-per-clock = <1>;
				xlnx,s-axi-ctrl-addr-width = <0x7>;
				xlnx,s-axi-ctrl-data-width = <0x20>;
				xlnx,vid-formats = "uyvy", "y8", "yuyv";
				xlnx,video-width = <8>;
			};
			vcap_mipi_csi2rxss_0 {
				compatible = "xlnx,video";
				dma-names = "port0";
				dmas = <&v_frmbuf_wr_csi_0 0>;
				vcap_portsmipi_csi2rxss_0: ports {
					#address-cells = <1>;
					#size-cells = <0>;
					vcap_portmipi_csi2rxss_0: port@0 {
						direction = "input";
						reg = <0>;
						v_frmbuf_wr_csi_0mipi_csi2rxss_0: endpoint {
							remote-endpoint = <&mipi_csirx_outmipi_csi2rxss_0>;
						};
					};
				};
			};
		};
	};
};
